<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default_layout}">
<head>
  <title>main homepage</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:inline="css" th:href="@{/css/pages/common/view-list.css}">
  <script th:inline="javascript" type="text/javascript" th:src="@{/js/pages/community/notice.js}"></script>
</head>

<!-- 상단 이미지 영역 fragment -->
<section layout:fragment="section-top">
  <div class="sec-image-container">
    <div class="section-top-nimg">
      <div class="sec-sub-nav">
        <ul>
          <li><a href="/view/event">이벤트</a></li>
          <li class="active"><a href="/view/notice">공지사항</a></li>
          <li><a href="/view/faq">자주묻는질문</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sec-info-container">
    <h1 class="sec-info-title">공지사항</h1>
    <p class="sec-info-desc">NOTICE</p>
  </div>
</section>

<th:block layout:fragment="content">
  <div class="content">
    <div class="table-container">
      <table>
        <colgroup>
          <col style="width: 5%;" />
          <col style="width: 70%;" />
          <col style="width: 10%;" />
          <col style="width: 15%;" />
        </colgroup>
        <tbody id="notice-list">
        <!-- 자바스크립트가 여기에 tr 추가 -->
        </tbody>
      </table>
      <div id="pagination"></div>
      <div class="admin-crud-btn">
        <button id="notice-write-btn" style="display: none;">글쓰기</button>
      </div>
    </div>
  </div>
</th:block>
</html>