<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Thymeleaf Layout</title>
    <!-- config fragment 사용 -->
    <th:block th:replace="~{fragments/config :: configFragment}"></th:block>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
</head>
<body id="page-top">

<!-- ★ 이 자리에 추가 ★ -->
<div layout:fragment="section-top"></div>

<div class="content">
    <!-- content fragment 사용 -->
    <th:block layout:fragment="content"></th:block>
</div>

<!-- footer fragment 사용 -->
<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>
</html>

