<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default_layout}">
<head>
    <title>main homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:inline="css" th:href="@{/css/pages/main.css}">
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/pages/main.js}"></script>
</head>

<!-- 상단 이미지 영역 fragment -->
<section layout:fragment="section-top">
    <div class="sec-image-container">
        <div class="section-top-img">
            <h1>여기에 이미지 들어갈 예정(스몰왁싱)</h1>
            <h1>1920x810 사이즈?</h1>
            <div class="sec-sub-nav">
                <ul>
                    <li class="active"><a href="/smallwaxing">스몰왁싱 특별함</a></li>
                    <li><a href="/directions">오시는 길</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="content">
    <div class="content">

        <h1> 스몰왁싱의 특별함 </h1>

    </div>
</th:block>
</html>